<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LogicForJSP/src/inheritance/Test_Adieu.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="inheritance.Test_Adieu"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LogicForJSP"/>
</launchConfiguration>
